.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

*.user
*.suo
*.cache
*.log
*.tmp

*.pdb
# *.exe 
# *.dll  

[Pp]ublish/
/Output/
/Release/
/*/PublishProfiles/
*.pubxml
*.pubxml.user

config.ini

Thumbs.db
Desktop.ini